*
{
   margin: 0;
   padding: 0;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#myCanvas
{
   border: 2px solid lightgrey;
   border-radius: 5px;
   background-color: #eeeeee;
   margin: 100px auto;
   display: block;
}  

div
{
   /*border: 2px solid brown;*/
   width: 600px;
   margin: auto;
}
