*
{
   margin: 0;
   padding: 0;
}

#myCanvas
{
   width: 400px;
   height: 300px;
   border: 2px solid lightgrey;
   border-radius: 3px;
   background-color: #eeeeee;
   margin: 100px auto;
   display: block;
}  